body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background-color: #fe9865;
}

header
 {
    flex-basis: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    text-align: center;
}

img{
    align-self: center;
}