body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background-color: #fe9865;
    background-image: url(../progress-background.jpg);
    background-position: center;
    background-size: cover;
}
header
 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    background-color: #fe986590;
}
