
/* /* Applies global styling to all elements in order to override browser defaults */
*{ padding: 0;
    margin: 0;
    box-sizing:border-box;
}
/* General positioning of page components */
body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

/* Header style */
header {
    background-color:#82B5A7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-align: center;
/* Header height */
    flex-basis:  200px;
/* Gradient between header and main body */
    background: linear-gradient(180deg,#82B5A7 50%, #657C75 100%);
}
/* Header picture size and positioning */
header picture img {
    height: 20rem;
    width: 20rem;
    border: 2rem solid #364B45;
    border-radius: 50%;
   display:flex;
   align-items: flex-start;
   position: absolute; 
   top: 0;
   left: 0;
  transform: translate(-23%, -21%);
}

/* Navbar styling and position within Header */
nav {
    margin-top: 1.5rem;
    display: flex;
    font-size: 1rem;
}
/* Link position within Navbar */
nav div {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
/* Text position within nav link */
nav div p {
    text-align: center;
}
/* Link & image position within nav link */
nav div a{
    position: relative;
    right: -25%;
}
/* Icon sizing */
.nav-icon-size {
height: 3rem;
width: 3rem;
}

/* Main body style */
Main {
    min-height: 800px;
    background-color:#657C75;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 /* Using main content to push footer to the bottom of the page */
    flex: 1 0;
}

/* About me page style */
/* Sticky note background for mobile screens-about me page */
#noticeboard{
    background-image: url("../images/sticky-notes.png");
    background-position: center top 50%;
    background-size: 90%;
    background-repeat: no-repeat;
}
/* style and position for orange sticky note content */
#orange h2{
    font-size: 1rem;
    text-align: center;
    transform: translate(6%, 40%);
}
#orange p{
    font-size: 0.75rem;
    transform: translate(26%, 10%);
}
#orange span{
    margin-left: 6%;
}

/* Portfolio page styling */
/* Position introductory content */
main h1, p {
    margin-left: 10px;
}
 /* Computer image size/position  */
a img {
    width: 760px;
    transform: translateX(-30%);
    z-index: 1;
}
/* Link for video-1 styling */
.a-video-1 {
    height: fit-content;
    width: 20rem;
    align-self: center; 
}
/* Video-1 styling */
.video-1 {
    height: fit-content;
    width: 20rem;
    align-self: center;
    position: relative;
    top:30px;
   }
/* Button styling */
button{
    border: none;
    background-color: #657C75;
 }
 /* Right button icon size */
 .right-button img {
     height:3rem;
     width: 3rem;
 }
 /* Left button icon size */
 .left-button img {
     height: 3rem ;
     width: 3rem ;
 } 
 /* Button positioning */
 .right-button {
    align-self: flex-end;
    position: relative;
    top: 50px;
 }
 .left-button {
    position: relative;
 }

/* Footer style */
Footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color:#364B45;
    color: #82B5A7;
    font-size: 1rem;
    text-align: center;
/* Footer height */
    flex-basis:  100px;
}
footer img {
    height: 1.5rem;
    width: fit-content;
}
/* footer link styles */
 footer a {
    color: #82B5A7;
    text-decoration: none;
 }

/* Rules for mobile screens */
@media screen and (max-width: 767px) {
/* Removes header image */
.display-min-768px {
    display:none;
}

/* Adjust nav link position for mobile view */
nav div {
   transform: translateX(30%);
}

}

/* Rules for tablet screens and larger */
@media screen and (min-width:768px) {
     /* Adjustment of header content position */
    header{
        justify-items: flex-end;
    }
    /* Adjustment of header text position */
    header>h1 {
        margin-right: 0.5rem;
        font-size: 250%;
    }

    /* Adjustment of nav items size & position*/
    nav{
        font-size: 1.3rem;
        margin-right: 4rem;
        text-wrap: nowrap;
    }
    .nav-icon-size {
        height: 4rem;
        width: 4rem;
    }
    /* About Me page adjustments */
    /* Background noticeboard and position on about me page */
    #noticeboard {
        background-image: url("../images/noticeboard.png");
        background-position:center top 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /* orange sticky note */
   #orange {
    background-color: #F7C296;
    max-width: 200px;
    height: 175px;
    transform: translate(70%, 120%);
    box-shadow: 10px 5px 5px black;
   }
   #orange h2 {
    transform: translateY(-2%);
   }
   #orange p {
    transform: translate(-2%, 2%);
   }
   #orange span {
    margin-left: 0;
   }
    /* Portfolio page adjustments */
    /* Adjustment of main content position */
    main h1 {
       margin-top: 3rem;
    }
    main {
        font-size: larger;
        min-height: 1000px;
    }
    .video-1 {
        transform: translate(-58px, -475px);
        z-index: 2;
        width: 141%;
        height: 96%;
    }
    button {
        transform: translateY(-500px);
}
}