
/* /* Applies global styling to all elements in order to override browser defaults */
*{ padding: 0;
    margin: 0;
    box-sizing:border-box;
}
/* General positioning of page components */
body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}
/* Header style */
header {
    background-color:#82B5A7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
/* Header height */
    flex-basis:  200px;
}
/* Navbar position within Header */
nav {
    margin-top: 1.5rem;
    display: flex;
    font-size: 1rem;
}
/* Link position within Navbar */
nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem;
}
/* Icon sizing */
.nav-icon-size {
height: 3rem;
width: 3rem;
}

/* Main body style */
Main {
    background-color:#657C75;
 /* Using main content to push footer to the bottom of the page */
 flex: 1 0 auto;
}
/* Footer style */
Footer{
    background-color:#364B45;
/* Footer height */
    flex-basis:  100px;
}